body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("gascani.png") no-repeat center center fixed;
  background-size: auto;
  background-color: black;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

.gauge-container {
  text-align: center;
}

.gauge {
  opacity: 0.8;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #333;
  background-image: url("./gauge.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border: 25px solid #232323;
}

.needle {
  width: 4px;
  height: 50%;
  background-color: transparent;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
}

.green-needle {
  background-color: green;
  transform: rotate(0deg);
}

.red-needle {
  background-color: red;
  transform: rotate(45deg);
}

p {
  margin-top: 20px;
}
